@using FootballRadar.Admin.WebApp.Controllers
@using FootballRadar.Web.Utilities
@{
    ViewData["Title"] = "FootballRadar Admin";
}

<h2>FootballRadar Admin</h2>
<p>Choose a section:</p>

<div class="list-group">

    <a class="list-group-item list-group-item-action"
       href="@Url.Action(nameof(LeagueController.LeaguesList), ControllerName.For<LeagueController>())">
        Leagues
    </a>

    <a class="list-group-item list-group-item-action"
       href="@Url.Action(nameof(NationalTeamController.NationalTeamsList), ControllerName.For<NationalTeamController>())">
        National Teams
    </a>
    <a class="list-group-item list-group-item-action"
       href="@Url.Action(nameof(CountryController.CountriesList), ControllerName.For<CountryController>())">
        Countries
    </a>
    <a class="list-group-item list-group-item-action"
       href="@Url.Action(nameof(TeamController.TeamsList), ControllerName.For<TeamController>())">
        Teams
    </a>
</div>
