@using FootballRadar.WebApp.Controllers
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1 class="display-4">Welcome to FootballRadar</h1>
    <p>Your football betting prediction platform.</p>
    <div class="mt-4">
        <a href="@Url.Action(nameof(AccountController.Login), "Account")" class="btn btn-primary me-2">Login</a>
        <a href="@Url.Action(nameof(AccountController.Register), "Account")" class="btn btn-outline-primary">Register</a>
    </div>
</div>