@using FootballRadar.Admin.WebApp.Controllers
@using FootballRadar.Admin.WebApp.Models
@model CreateCountryViewModel

<h2>Create new country</h2>

<form method="post" action="@Url.Action(nameof(CountryController.CreateCountry), "Country")">
    @Html.AntiForgeryToken()

    <div class="form-group mb-3">
        <label>Name</label>
        <input type="text" name="Name" class="form-control" value="@Model?.Name" />
        @Html.ValidationMessageFor(m => m.Name, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-success">Create</button>
    <a class="btn btn-secondary" href="@Url.Action(nameof(CountryController.CountriesList), "Country")">Back to list</a>
</form>
